:root {
    --default-transition: 0.5s ease-in-out;
    --primary-color: #ffc14d;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: #fcf9ed;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.a-center {
  align-items: center;
}
.a-start {
  align-items: flex-start;
}

ul > li {
  cursor: pointer;
}

ul {
  list-style-type: none;
}

.j-center {
  justify-content: center;
}

.j-between {
  justify-content: space-between;
}

.gap {
  gap: 4rem;
}

.gap-1 {
  gap: 1rem;
}

.gap-half {
  gap: 0.5rem;
}

.gap-2 {
  gap: 2rem;
}

.text-center {
  text-align: center;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2rem;
}

p {
  font-size: 1.2rem;
  word-spacing: 0.2rem;
  line-height: 1.8rem;
}

.half-width {
  height: 80vh;
}

@media screen and (min-width: 280px) and (max-width: 1080px) {
  /* nav,
  section {
    margin: 0 1rem;
    margin-bottom: 2rem;
  } */
  .flex {
    flex-direction: column;
  }
  .gap {
    gap: 1rem;
  }

  .gap-1 {
    gap: 0.5rem;
  }

  .gap-2 {
    gap: 0.5rem;
  }
  .half-width {
    width: 80vw;
    height: 100%;
  }
  h1 {
    font-size: 2rem;
  }
  p {
    font-size: 1.1rem;
    word-spacing: 0.2rem;
    line-height: 1.5rem;
  }
}